#serif{
    font-family: serif;
}

#sans{
    font-family: sans-serif;
}

/* for google fonts, use '' and type font name */
#google{
    font-family: 'oswald';
}

#google1{
    font-family: 'oswald';
    font-weight: 500;
}

#google2{
    font-family: 'oswald';
    font-weight: 300;
}

/* never use elements or selectors that are experimental */
#upper{
    font-style: italic;
    text-transform: uppercase;
}

/* space between letters */
#space{
    letter-spacing: 1rem;
}

h1{
    text-shadow: 10px 5px 10px saddlebrown;
    color: royalblue;
    text-align: center;
}
/* text decoration none to get rid of anchor tag underline */
a{
    text-decoration: none;
}
/* anchor tag = a */
#anchor:hover{
    text-decoration: underline;
}

#line{
    text-decoration: line-through;
}

#indent{
    text-indent: 15px;
}

#fun{
    text-decoration: overline;
    text-decoration: underline;
    text-decoration: line-through;
    text-transform: capitalize;
    text-shadow: 5px 5px 10px purple;
    color: black;
    text-indent: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'oswald';
    font-kerning: auto;
}